<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaperShop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <connectionStrings>
        <add name="PaperShop.Properties.Settings.papeleriaConnectionString"
            connectionString="Data Source=JLPLATA\SQLEXPRESS;Initial Catalog=papeleria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
      <add key="cadenaconexion" value="Data Source=1\SQLEXPRESS;Initial Catalog=SP19;Integrated Security=True" />
  </appSettings>
  <userSettings>
    <PaperShop.Properties.Settings>
      <setting name="fondo" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="CheckColor" serializeAs="String">
        <value>0</value>
      </setting>
    </PaperShop.Properties.Settings>
  </userSettings>
</configuration>